Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2023-07, with the labels that each got.

#1147 test/e2e: increase timeout to wait cc-operator-daemon-install
  test/provisioner/provision.go
Labels: e2e-test

#1208 podnetwork: Fix workerNodeTunneler.Setup() panic
  pkg/podnetwork/tunneler/vxlan/workernode.go
Labels: core

#1193 test/provisioner: avoid adding duplicate file in secretGenerator
  test/provisioner/kustomize.go
Labels: e2e-test

#1174 test/e2e/livirt: allow prop file overwrite cluster name
  libvirt/kcli_cluster.sh
  test/e2e/README.md
  test/provisioner/provision_libvirt.go
Labels: provider/libvirt, e2e-test

#1152 tests: add worker label through go
  test/provisioner/common.go
  test/provisioner/provision_libvirt.go
Labels: provider/libvirt
