Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2023-09, with the labels that each got.

#1380 aws: Enable publicIP usage for pod VM
  entrypoint.sh
  install/overlays/aws/kustomization.yaml
  pkg/adaptor/cloud/aws/manager.go
  pkg/adaptor/cloud/aws/provider.go
  pkg/adaptor/cloud/aws/provider_test.go
  pkg/adaptor/cloud/aws/types.go
Labels: test_e2e_libvirt

#1268 pkg/adaptor/libvirt: cloud init ISO file using native go
  Dockerfile
  go.mod
  go.sum
  pkg/adaptor/cloud/libvirt/cloudinit.go
  pkg/adaptor/cloud/libvirt/cloudinit_test.go
  pkg/adaptor/cloud/libvirt/image.go
  pkg/adaptor/cloud/libvirt/libvirt.go
  pkg/adaptor/cloud/libvirt/types.go
  pkg/adaptor/cloud/libvirt/volume.go
Labels: provider/libvirt

#1477 e2e: allow prebuilt caa image in Azure test
  .github/workflows/azure-e2e-test.yml
Labels: CI, provider/azure
