Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2023-11, with the labels that each got.

#1549 tests/e2e_libvirt: install yq
  .github/workflows/e2e_libvirt.yaml
Labels: provider/libvirt

#1571 install: pin cloud-api-adaptor image for v0.8.0
  install/overlays/aws/kustomization.yaml
  install/overlays/azure/kustomization.yaml
  install/overlays/ibmcloud-powervs/kustomization.yaml
  install/overlays/ibmcloud/kustomization.yaml
  install/overlays/libvirt/kustomization.yaml
  install/overlays/vsphere/kustomization.yaml
Labels: release

#1576 podvm-mkosi: Add option in mkosi build for AA_KBC
  podvm-mkosi/Makefile
Labels: podvm

#1572 adaptor/azure: use context.Background for cleanup
  pkg/adaptor/cloud/azure/provider.go
Labels: bug, provider/azure

#1561 test: Add createcluster action to provisioner cli
  .github/workflows/azure-e2e-test.yml
  test/tools/provisioner-cli/main.go
Labels: e2e-test

#1594 libvirt/kcli: defaults to Ubuntu 22.04
  .github/workflows/e2e_libvirt.yaml
  libvirt/kcli_cluster.sh
Labels: provider/libvirt, test_e2e_libvirt

#1568 azure: Misc e2e fixes
  .github/workflows/azure-e2e-test.yml
Labels: provider/azure, e2e-test
