Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2023-08, with the labels that each got.

#1296 azure-provisioner: Default to CVM instead of VM
  test/provisioner/provision_azure_initializer.go
Labels: CI, e2e-test

#1292 azure-provisioner: Get RG when using CI managed RG
  test/provisioner/provision_azure.go
Labels: CI, e2e-test

#1298 azure-ci-static-infra: Output the managed identity name
  ci-infra/azure/outputs.tf
Labels: CI, e2e-test

#1294 azure-provisioner: Support for custom CAA images
  go.mod
  go.sum
  test/provisioner/provision_azure.go
  test/provisioner/provision_azure_cli_auth.properties
  test/provisioner/provision_azure_initializer.go
Labels: CI, e2e-test

#1262 pkg/adaptor/libvirt: adds support for s390x based libvirt hosts
  pkg/adaptor/cloud/libvirt/libvirt.go
  pkg/adaptor/cloud/libvirt/libvirt_test.go
  pkg/adaptor/cloud/libvirt/types.go
Labels: provider/libvirt

#1332 libvirt: improve the get domain IPs mechanism
  pkg/adaptor/cloud/libvirt/libvirt.go
Labels: provider/libvirt

#1341 workflow: retry caa image build
  .github/workflows/image.yaml
Labels: CI
