Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2023-12, with the labels that each got.

#1617 podvm: fix podvm packer image build
  podvm/Dockerfile.podvm_builder
Labels: test_e2e_libvirt

#1618 WIP: workflows: install docker in e2e_libvirt
  .github/workflows/e2e_libvirt.yaml
Labels: test_e2e_libvirt

#1620 versions: Bump golang
  hack/Dockerfile.golang
  ibmcloud-powervs/image/prereq.sh
  podvm/README.md
  versions.yaml
Labels: hold, test_e2e_libvirt

#1621 version: Bump Builder base
  Dockerfile
Labels: test_e2e_libvirt

#1608 test/e22: libvirt: Add delete pod test
  test/e2e/libvirt_test.go
Labels: test_e2e_libvirt

#1622 workflows: rebase code on pull_request_target
  .github/workflows/caa_build_and_push.yaml
  .github/workflows/e2e_libvirt.yaml
  .github/workflows/e2e_run_all.yaml
  .github/workflows/podvm.yaml
  .github/workflows/podvm_binaries.yaml
  .github/workflows/podvm_builder.yaml
  hack/ci-helper.sh
Labels: CI

#1623 e2e-test: grep for container id in nydus test
  test/e2e/assessment_helpers_test.go
  test/e2e/assessment_runner_test.go
Labels: CI, e2e-test, test_e2e_libvirt

#1619 podvm: remove CentOS support
  .github/workflows/e2e_run_all.yaml
  .github/workflows/podvm.yaml
  .github/workflows/podvm_binaries.yaml
  .github/workflows/podvm_builder.yaml
  Makefile.defaults
  README.md
  aws/README.md
  docs/consuming-prebuilt-podvm-images.md
  podvm/Dockerfile.podvm.centos
  podvm/Dockerfile.podvm_binaries.centos
  podvm/Dockerfile.podvm_builder.centos
  podvm/Makefile
  podvm/README.md
  podvm/qcow2/centos/qemu-centos.pkr.hcl
  podvm/qcow2/centos/variables.pkr.hcl
  podvm/qcow2/misc-settings.sh
  versions.yaml
Labels: test_e2e_libvirt

#1627 podvm: revert agent-config path to /etc
  cmd/process-user-data/types.go
  podvm-mkosi/mkosi.skeleton/usr/lib/systemd/system/kata-agent.service.d/10-override.conf
  podvm-mkosi/mkosi.skeleton/usr/lib/systemd/system/process-user-data.service.d/10-override.conf
  podvm/files/etc/systemd/system/kata-agent.service
Labels: test_e2e_libvirt

#1632 versions: bump kata ref
  versions.yaml
Labels: dependencies, test_e2e_libvirt

#1631 forwarder: update the condition for default route
  pkg/podnetwork/podnetwork_test.go
  pkg/util/netops/netops.go
Labels: test_e2e_libvirt

#1635 azure: fix image reference string
  .github/workflows/azure-e2e-test.yml
Labels: provider/azure, e2e-test
