Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2023-10, with the labels that each got.

#1500 podvm: bump guest-components version
  versions.yaml
Labels: dependencies

#1499 podvm: remove cdh,attestation-agent units
  podvm/files/etc/systemd/system/api-server-rest.service
  podvm/files/etc/systemd/system/attestation-agent.service
  podvm/files/etc/systemd/system/confidential-data-hub.service
  podvm/files/etc/systemd/system/multi-user.target.wants/api-server-rest.service
  podvm/files/etc/systemd/system/multi-user.target.wants/attestation-agent.service
  podvm/files/etc/systemd/system/multi-user.target.wants/confidential-data-hub.service
Labels: bug, core

#1481 e2e-tests: Add a default deletion time for all tests
  test/e2e/common_suite_test.go
Labels: enhancement, CI, e2e-test

#1472 azure-e2e: Install AKS in parallel to podvm image build
  .github/workflows/azure-e2e-test.yml
Labels: CI, provider/azure
