Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2024-12, with the labels that each got.

#2191 workflow: Actually temporarily skip the s390x e2e tests
  .github/workflows/e2e_run_all.yaml
Labels: CI

#2192 Kustomize: parameterize tunnel type
  src/cloud-api-adaptor/docs/addnewprovider.md
  src/cloud-api-adaptor/entrypoint.sh
  src/cloud-api-adaptor/install/overlays/aws/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/azure/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/docker/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/gcp/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/ibmcloud-powervs/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/ibmcloud/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/libvirt/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/vsphere/kustomization.yaml
  src/cloud-api-adaptor/test/e2e/README.md
  src/cloud-api-adaptor/test/provisioner/aws/provision_common.go
  src/cloud-api-adaptor/test/provisioner/azure/provision_common.go
  src/cloud-api-adaptor/test/provisioner/azure/provision_initializer.go
  src/cloud-api-adaptor/test/provisioner/docker/provision_common.go
  src/cloud-api-adaptor/test/provisioner/ibmcloud/provision_common.go
  src/cloud-api-adaptor/test/provisioner/ibmcloud/provision_ibmcloud.properties
  src/cloud-api-adaptor/test/provisioner/ibmcloud/provision_initializer.go
  src/cloud-api-adaptor/test/provisioner/ibmcloud/provision_kustomize.go
  src/cloud-api-adaptor/test/provisioner/libvirt/provision_common.go
Labels: test_e2e_libvirt

#2195 podvm: mount cloud-config disk via ExecStartPre
  src/cloud-api-adaptor/podvm-mkosi/mkosi.skeleton/usr/lib/systemd/system/process-user-data.service.d/10-override.conf
  src/cloud-api-adaptor/podvm-mkosi/mkosi.skeleton/usr/lib/systemd/system/run-media-cidata.mount
Labels: test_e2e_libvirt

#2194 Makefile: support aarch64/arm64 build
  src/cloud-api-adaptor/Makefile
  src/cloud-api-adaptor/Makefile.defaults
  src/cloud-api-adaptor/hack/build.sh
  src/cloud-api-adaptor/versions.yaml
Labels: test_e2e_libvirt

#2193 providers/libvirt: add support for aarch64 host
  src/cloud-providers/libvirt/libvirt.go
  src/cloud-providers/libvirt/libvirt_test.go
Labels: test_e2e_libvirt

#2186 podvm: truncate initdata digest to 32 bytes on az
  .github/workflows/azure-e2e-test.yml
  src/cloud-api-adaptor/podvm-mkosi/mkosi.skeleton/usr/lib/systemd/system/afterburn-checkin.service.d/10-override.conf
  src/cloud-api-adaptor/podvm-mkosi/mkosi.skeleton/usr/lib/systemd/system/process-user-data.service.d/10-override.conf
  src/cloud-api-adaptor/test/e2e/azure_test.go
Labels: test_e2e_libvirt

#2044 test/e2e: improve nginx deployment test
  src/cloud-api-adaptor/test/e2e/nginx_deployment.go
Labels: e2e-test, test_e2e_libvirt

#2211 libvirt: Fix shell reload
  src/cloud-api-adaptor/libvirt/config_libvirt.sh
Labels: test_e2e_libvirt

#2208 versions: Bump golang.org/x/crypto
  src/cloud-api-adaptor/go.mod
  src/cloud-api-adaptor/go.sum
  src/cloud-providers/go.mod
  src/cloud-providers/go.sum
  src/csi-wrapper/go.mod
  src/csi-wrapper/go.sum
  src/peerpod-ctrl/go.mod
  src/peerpod-ctrl/go.sum
Labels: test_e2e_libvirt

#2215 podvm_mkosi: Remove remaining references to builder
  .github/workflows/azure-podvm-image-build.yml
  src/cloud-api-adaptor/podvm-mkosi/Makefile
  src/cloud-api-adaptor/podvm-mkosi/README.md
Labels: test_e2e_libvirt

#2089 SecureComms: E2e Test SecureComms without KBS
  src/cloud-api-adaptor/libvirt/config_libvirt.sh
  src/cloud-api-adaptor/libvirt/e2e_matrix_libvirt.json
  src/cloud-api-adaptor/test/e2e/assessment_helpers.go
  src/cloud-api-adaptor/test/e2e/assessment_runner.go
  src/cloud-api-adaptor/test/e2e/common_suite.go
  src/cloud-api-adaptor/test/e2e/libvirt_test.go
  src/cloud-api-adaptor/test/e2e/main_test.go
  src/cloud-api-adaptor/test/provisioner/libvirt/provision_common.go
  src/cloud-api-adaptor/test/provisioner/provision.go
Labels: test_e2e_libvirt
