Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2024-04, with the labels that each got.

#1706 Add load cloud providers as runtime plugins feature to CAA and Peerpod-ctrl
  src/cloud-api-adaptor/docs/addnewprovider.md
  src/cloud-api-adaptor/entrypoint.sh
  src/cloud-api-adaptor/install/overlays/aws/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/azure/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/ibmcloud-powervs/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/ibmcloud/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/libvirt/kustomization.yaml
  src/cloud-api-adaptor/install/overlays/vsphere/kustomization.yaml
  src/cloud-api-adaptor/install/yamls/caa-pod.yaml
  src/cloud-providers/go.mod
  src/cloud-providers/go.sum
  src/cloud-providers/table.go
  src/peerpod-ctrl/Dockerfile
  src/peerpod-ctrl/config/manager/manager.yaml
  src/peerpodconfig-ctrl/go.mod
  src/peerpodconfig-ctrl/go.sum
Labels: test_e2e_libvirt

#1808 test/e2e: update assessment_runner.go
  src/cloud-api-adaptor/test/e2e/assessment_runner.go
Labels: e2e-test, test_e2e_libvirt

#1819 ci: add yq shim for v3/v4 support
  .github/workflows/azure-podvm-image-build.yml
  src/cloud-api-adaptor/Dockerfile
  src/cloud-api-adaptor/Makefile.defaults
  src/cloud-api-adaptor/hack/yq-shim.sh
  src/cloud-api-adaptor/libvirt/config_libvirt.sh
Labels: test_e2e_libvirt

#1823 podvm: podvm_binaries - Revert s390x breakage
  src/cloud-api-adaptor/podvm/Dockerfile.podvm_binaries
Labels: test_e2e_libvirt, podvm

#1826 libvirt: Fix config_libvirt to not exit
  src/cloud-api-adaptor/libvirt/config_libvirt.sh
Labels: test_e2e_libvirt
