Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2025-09, with the labels that each got.

#2543 test/e2e: Add DoTestPodWithInitContainer to libvirt
  src/cloud-api-adaptor/test/e2e/libvirt_test.go
Labels: test_e2e_libvirt

#2529 entrypoint: ensure that comma-separate options don't have spaces
  src/cloud-api-adaptor/entrypoint.sh
Labels: test_e2e_docker

#2535 versions: Bump the builder image
  src/cloud-api-adaptor/Dockerfile
  src/cloud-api-adaptor/docs/addnewprovider.md
  src/csi-wrapper/Dockerfile.csi_wrappers
  src/peerpod-ctrl/Dockerfile
Labels: test_e2e_libvirt, test_e2e_docker

#2555 test/e2e: adding pvc options and refactoring pvc/secret binding
  src/cloud-api-adaptor/test/e2e/assessment_runner.go
  src/cloud-api-adaptor/test/e2e/common.go
  src/cloud-api-adaptor/test/e2e/common_suite.go
  src/cloud-api-adaptor/test/e2e/ibmcloud_test.go
Labels: test_e2e_libvirt
