Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2025-04, with the labels that each got.

#2364 ibmcloud: add INITDATA to CLI peerpod properties
  src/cloud-api-adaptor/install/overlays/ibmcloud/kustomization.yaml
  src/cloud-api-adaptor/test/provisioner/ibmcloud/provision_common.go
  src/cloud-api-adaptor/test/provisioner/ibmcloud/provision_initializer.go
  src/cloud-api-adaptor/test/provisioner/ibmcloud/provision_kustomize.go
Labels: test_e2e_libvirt

#2370 version: Bump golang version in builder
  hack/Dockerfile.golang
  src/cloud-api-adaptor/ibmcloud-powervs/image/prereq.sh
  src/cloud-api-adaptor/versions.yaml
Labels: test_e2e_libvirt, test_e2e_docker

#2371 Golang bump 1.23.8
  src/cloud-api-adaptor/Dockerfile
  src/cloud-api-adaptor/docs/addnewprovider.md
  src/csi-wrapper/Dockerfile.csi_wrappers
  src/peerpod-ctrl/Dockerfile
Labels: test_e2e_libvirt, test_e2e_docker

#2337 tests/e2e : Add initdata related test cases, invalied initdata
  src/cloud-api-adaptor/test/e2e/azure_test.go
  src/cloud-api-adaptor/test/e2e/common.go
  src/cloud-api-adaptor/test/e2e/common_suite.go
  src/cloud-api-adaptor/test/e2e/libvirt_test.go
  src/cloud-api-adaptor/test/e2e/remote_attestation.go
Labels: test_e2e_libvirt

#2374 podvm: Remove libtdx library install
  src/cloud-api-adaptor/podvm/qcow2/misc-settings.sh
Labels: test_e2e_libvirt

#2301 caa: Enable running without Kubernetes
  src/cloud-api-adaptor/pkg/adaptor/k8sops/node.go
  src/cloud-api-adaptor/pkg/adaptor/server.go
Labels: test_e2e_docker

#2383 versions: Bump golang.org/x/net to v0.38.0
  src/cloud-api-adaptor/go.mod
  src/cloud-api-adaptor/go.sum
  src/cloud-providers/go.mod
  src/cloud-providers/go.sum
  src/csi-wrapper/go.mod
  src/csi-wrapper/go.sum
  src/peerpod-ctrl/go.mod
  src/peerpod-ctrl/go.sum
  src/webhook/go.mod
  src/webhook/go.sum
Labels: test_e2e_libvirt, test_e2e_docker
