Repository confidential-containers/cloud-api-adaptor, pull requests merged in 2025-02, with the labels that each got.

#2275 docker: Use iptables-wrapper in pod VM container image
  src/cloud-api-adaptor/podvm-mkosi/Dockerfile.podvm_docker_provider
  src/cloud-providers/docker/provider.go
Labels: test_e2e_docker

#2286 version: Bump golang to 1.22.12
  hack/Dockerfile.golang
  src/cloud-api-adaptor/ibmcloud-powervs/image/prereq.sh
  src/cloud-api-adaptor/versions.yaml
Labels: test_e2e_libvirt, test_e2e_docker

#2287 versions: Bump golang-fedora image version
  src/cloud-api-adaptor/Dockerfile
  src/cloud-api-adaptor/docs/addnewprovider.md
  src/csi-wrapper/Dockerfile.csi_wrappers
  src/peerpod-ctrl/Dockerfile
Labels: test_e2e_libvirt, test_e2e_docker

#2299 libvirt: Remove SEV code
  src/cloud-api-adaptor/install/overlays/libvirt/kustomization.yaml
  src/cloud-providers/libvirt/libvirt.go
  src/cloud-providers/libvirt/manager.go
  src/cloud-providers/libvirt/provider.go
  src/cloud-providers/libvirt/types.go
Labels: test_e2e_libvirt
